* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: 0.2s;
}

body {
    height: 100vh;
    width: 100vw;   
    position: relative;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    height: max-content;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e5e5;
}

#header__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header__content__icon {
    height: 4em;
    padding: 0.3em;
}

#header__content__title {
    font-size: 1.3em;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main__info {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

#main__info__restart {
    text-decoration: none;
    color: black;
    padding: 0.4em 2em;
    border-radius: 0.2em;
    background-color: red;
    cursor: pointer;
}

#main__info__restart:hover {
    background-color: #ff2020;
    box-shadow: 0.15em 0.15em black;
}

#main__info__restart:active {
    box-shadow: inset 0.15em 0.15em black;
    background-color: #d40000;
}

#main__game {
    width: 50%;
    height: 100%;
    padding: 2em;
    overflow: hidden;
    background-color: blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #main__game__circle_base_0,
#main__game__circle_base_1,
#main__game__circle_base_2,
#main__game__circle_base_3,
#main__game__circle_base_4,
#main__game__circle_base_5 {
    background-color: green;
    height: 4em;
    width: 4em;
} */